<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>哈泥天空农场-关于我们</title>
    #include("website/common/assets-link.html")
    <link rel="stylesheet" href="/assets/css/website/index.css">
    <link rel="stylesheet" href="/assets/css/website/child-page.css">

</head>
<body>
#parse("website/common/top.html")
<div class="container">

    <div class="banner">
        <img src="/assets/image/website/banner2.jpg"/>
    </div>
    <div class="bg-green">
        <div class="child-center ha">
            <div class="content">
                <div class="title">农场简介</div>
                <div class="l-h-30 t-i-30 margin-t-20">哈泥天空农场，是国内首创的以农业园艺为主题的亲子自然教育项目。哈泥充分利用购物中心屋顶闲置空间，以拟人化的原创卡通形象为故事主角，精心规划了星空牧场、麦堆乐园、金色池塘、蔬菜花园、田园竞技场等农耕园艺生态体验项目，可以让孩子们与小动物嬉戏，与四季花草为伴，在快乐的玩耍中，充分释放孩子的自然天性，并借助各类生态认知、园艺、手工艺等教育课程，以寓教于乐的方式提升儿童综合素质，收获爱与成就感。
                </div>

                <div class="title margin-t-60">核心优势</div>
                <div class="w260 ma second-title margin-t-30">提供一站式解决方案</div>
                <div class="l-h-30 t-i-30 margin-t-20">
                    有别于一般的公司，哈泥在开发屋顶农场项目方面更加专业，可以根据业主的需求提供项目策划、规划设计、项目代建、运营托管、咨询服务一站式服务。
                </div>
                <div class="margin-t-20 ma" style="width:760px;">
                    <table>
                        <tr>
                            <td><div class="circular-box-about margin-l-r-20" style="margin-left:0;">项目策划</div></td>
                            <td><div class="circular-box-about margin-l-r-20">规划设计</div></td>
                            <td><div class="circular-box-about margin-l-r-20">项目代建</div></td>
                            <td><div class="circular-box-about margin-l-r-20">运营托管</div></td>
                            <td><div class="circular-box-about margin-l-r-20" style="margin-right:0;">咨询服务</div></td>
                        </tr>
                    </table>
                </div>

                <div class="w330 ma second-title margin-t-60">年轻而经验丰富的复合型团队</div>
                <div class="l-h-30 t-i-30 margin-t-20">
                    拥有设计、研发、开发、运营等核心优势的青年创业团队。
                </div>
                <div class="w280 ma second-title margin-t-60">知名的合作伙伴及客户</div>
                <div class="ma margin-t-20" style='width:837px;height:199px;background:url("/assets/image/website/about/logo.png")'></div>
            </div>
        </div>
    </div>
    #parse("website/common/foot.html")
</div>
</body>
</html>

<script>
    $(function () {

    });

</script>