<div class="row top">
    <div class="col-sm-2">
        <a href="/" target="_blank"><span class="glyphicon glyphicon-home"></span>&nbsp;网站首页</a>
    </div>
    <div class="col-sm-10">
        <div class="fr">
            <a href="/console/pwd"><span class="glyphicon glyphicon-user"></span>&nbsp;$admin.userName</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="/console/index"><span class="glyphicon glyphicon-log-out"></span>&nbsp;安全退出</a>
        </div>
    </div>
</div>
<div class="konghang"></div>
