
.left {
    width: 220px;
    height: 100%;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    padding: 0;
    border-color: #2f4050;
    background: #2f4050;
    /*float:left;*/
}

.right {
    padding: 0;
    background: #f5f5f5;
    overflow: hidden;
    margin-left: 220px;
    min-height: 650px;
}

.left .active {
    background: #293846;
    color: #FFF;
    /*font-weight: 600;*/
    border-left: 4px solid #19aa8d;
    text-indent: 18px;
}

.left a {
    display: block;
    width: 100%;
    padding: 10px 0;
    color: #c5cfe0;
    text-indent: 20px;
    font-size: 14px;
}

.left a:hover {
    background: #293846;
    color: #FFF;
    text-decoration: none;
}

.left a:active {
    text-decoration: none
}

.left a:visited {
    text-decoration: none
}

.logo {
    width: 100px;
    margin: 10px auto;
    /*background-image: url("/assets/e894eb6f95fedf37369cb89fbce1f81c.jpg")*/
}

.logo img {
    width: 100%;
}

.top {
    height: auto;
    overflow: hidden;
    background-color: #FFF;
    padding: 15px 24px;
}

.back-list {
    position: relative;
    /*margin-left: -50px;*/
    font-size: 20px;
    font-weight: 600;
}

.footer {
    border-top: 1px solid #293846;
    padding: 10px 20px;
    position: fixed;
    /*right: 0;*/
    bottom: 0;
    left: 0;
    z-index: 1000;
    width: 220px;
    color: #c5cfe0;
}

.diy-table {
    border-bottom: 0;
    border-radius: 0;
}

.preview {
    width: 70%;
    /*padding: 10px 20px;*/
    position: absolute;
    z-index: 1001;
    /*margin:auto;*/
    top: 10%;
    left: 20%;
    right: 10%;
    /*background:#FFF;*/
    /*word-break: break-all;*/
    /*word-wrap: break-word;*/
}

.login {
    background: #2f4050;
    position: absolute;
    height: 100%;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
}

.login form {
    width: 500px;
    margin: 10% auto 50px auto;
    background: #f5f5f5;
    padding: 14px 18px
}

.cover-img li{
    display: block;float:left;margin-right:10px;
}