<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>哈泥天空农场-商务合作</title>
    #include("website/common/assets-link.html")
    <link rel="stylesheet" href="/assets/css/website/index.css">
    <link rel="stylesheet" href="/assets/css/website/child-page.css">

</head>
<body>
#parse("website/common/top.html")
<div class="container">

    <div class="banner">
        <img src="/assets/image/website/banner2.jpg"/>
    </div>
    <div class="bg-blue">
        <div class="child-center ha">
            <div class="content">
                <div class="title">动物巡游</div>
                <div class="margin-t-40"><img src="/assets/image/website/biz/cooper/1.jpg"></div>
                <div class="l-h-24 tx-center margin-t-20">
                    哈泥天空农场有羊驼、矮脚马、牦牛、迷你猪、山羊等动物，并配备有专业的动物饲养人员。<br/>
                    合作的客户有银泰城、in77、龙湖天街、龙湖地产、印象城、恒隆广场、融创等。
                </div>
                <div class="ma w360 margin-t-10" ><img src="/assets/image/website/biz/cooper/1.png"></div>

                <div class="title margin-t-60">农场主题美陈</div>
                <div class="margin-t-40"><img src="/assets/image/website/biz/cooper/2.jpg"></div>
                <div class="l-h-24 tx-center margin-t-20">
                    哈泥天空农场有一支从事农场主题美陈设计和布置的专业软装团队。<br/>
                    合作的客户有龙湖天街、银泰城、印象城、龙湖地产。
                </div>
                <div class="ma w360 margin-t-10" ><img src="/assets/image/website/biz/cooper/2.png"></div>

                <div class="title margin-t-60">农场主题活动策划</div>
                <div class="margin-t-40"><img src="/assets/image/website/biz/cooper/3.jpg"></div>
                <div class="margin-t-20"><table><tr>
                    <td width="280" align="center">小丑气球魔术表演</td>
                    <td width="280" align="center">"万圣节"化妆走秀表演</td>
                    <td width="280" align="center">城西银泰大中庭"中秋玉兔"活动</td>
                </tr></table></div>
                <div class="margin-t-20"><img src="/assets/image/website/biz/cooper/4.jpg"></div>
                <div class="margin-t-20"><table><tr>
                    <td width="280" align="center">冰雪奇缘主题生日party</td>
                    <td width="280" align="center">"粮食日"亲子割水稻活动</td>
                    <td width="280" align="center">"植物小侦探"游戏活动</td>
                </tr></table></div>

                <div class="tx-center margin-t-40">哈泥天空农场有一支强大的农场主题活动策划和执行团队。</div>
                <div class="ma w360 margin-t-10"><img src="/assets/image/website/biz/cooper/3.png"></div>

            </div>
        </div>
    </div>
    #parse("website/common/foot.html")
</div>
</body>
</html>

<script>
    $(function () {

    });

</script>