<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>哈泥天空农场-项目合作</title>
    #include("website/common/assets-link.html")
    <link rel="stylesheet" href="/assets/css/website/index.css">
    <link rel="stylesheet" href="/assets/css/website/child-page.css">

</head>
<body>
#parse("website/common/top.html")
<div class="container">

    <div class="banner">
        <img src="/assets/image/website/banner2.jpg"/>
    </div>
    <div class="bg-pink">
        <div class="child-center ha">
            <div class="content">
                <div class="title">哈泥天空农场代建联营合作</div>
                <div class="margin-t-40 ha">
                    <div class="circular-box ha fl">
                        <img src="/assets/image/website/cooperation/1.svg"/>
                        <span class="sub-title">项目踏勘及沟通接洽</span>
                    </div>
                    <div class="w100 tx-center fl margin-t-50">&hellip;&hellip;&hellip;&hellip;</div>
                    <!--<div class="w100 tx-center fl margin-t-50">............</div>-->

                    <div class="circular-box ha fl">
                        <img src="/assets/image/website/cooperation/2.svg"/>
                        <span class="sub-title">商务谈判及合同签订</span>
                    </div>
                    <div class="w100 tx-center fl margin-t-50">&hellip;&hellip;&hellip;&hellip;</div>
                    <!--<div class="w100 tx-center fl margin-t-50">............</div>-->

                    <div class="circular-box ha fl" style="position: relative;margin: 0 -20px;">
                        <img src="/assets/image/website/cooperation/3.svg"/>
                        <span class="sub-title">出规划方案(项目策划、总<br/>平图、分区意向图)及效果图</span>
                    </div>
                    <div class="w100 tx-center fl margin-t-50">&hellip;&hellip;&hellip;&hellip;</div>
                    <!--<div class="w100 tx-center fl margin-t-50">............</div>-->

                    <div class="circular-box ha fl">
                        <img src="/assets/image/website/cooperation/4.svg"/>
                        <span class="sub-title">出CAD细部设计、<br/>施工方案及工程清单</span>
                    </div>
                </div>

                <div class="margin-t-40 ha margin-l-110">
                    <div class="circular-box ha fl">
                        <img src="/assets/image/website/cooperation/7.svg"/>
                        <span class="sub-title">运营托管</span>
                    </div>
                    <div class="w100 tx-center fl margin-t-50 margin-l-r-10">&hellip;&hellip;&hellip;&hellip;</div>
                    <!--<div class="w100 tx-center fl margin-t-50 margin-l-r-10">............</div>-->

                    <div class="circular-box ha fl">
                        <img src="/assets/image/website/cooperation/6.svg"/>
                        <span class="sub-title">项目移交</span>
                    </div>
                    <div class="w100 tx-center fl margin-t-50 margin-l-r-10">&hellip;&hellip;&hellip;&hellip;</div>
                    <!--<div class="w100 tx-center fl margin-t-50 margin-l-r-10">............</div>-->

                    <div class="circular-box ha fl">
                        <img src="/assets/image/website/cooperation/5.svg"/>
                        <span class="sub-title">项目监理及竣工验收</span>
                    </div>
                    <div class="tx-center fl margin-t-50 margin-l-r-10">&hellip;&hellip;</div>
                    <!--<div class="tx-center fl margin-t-50 margin-l-r-10">.........</div>-->
                    <div class="tx-center fl v-txt" style="position: relative;margin-left:-17px;margin-top:5px">&hellip;&hellip;&hellip;&hellip;</div>
                    <!--<div class="tx-center fl v-txt" style="position: relative;margin-left:-13px;margin-top:1px">................</div>-->

                </div>

                <div class="title margin-t-74">哈泥天空农场直控加盟合作</div>
                <div class="margin-t-40">
                    <table>
                        <tr>
                            <td><div class="regular-box bg1 margin-l-r-10" style="margin-left:0;">加盟咨询</div></td>
                            <td><div class="regular-box bg2 margin-l-r-10">选址审核</div></td>
                            <td><div class="regular-box bg3 margin-l-r-10">意向签约</div></td>
                            <td><div class="regular-box bg4 margin-l-r-10" style="margin-right:0;">农场设计</div></td>
                        </tr>
                        <tr>
                            <td><div class="regular-box bg5 margin-l-r-10" style="margin-left:0;">加盟签约</div></td>
                            <td><div class="regular-box bg6 margin-l-r-10">施工调试</div></td>
                            <td><div class="regular-box bg7 margin-l-r-10">协助开业</div></td>
                            <td><div class="regular-box bg8 margin-l-r-10 margin-r-0" style="margin-right:0;">运营支持</div></td>
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
    #parse("website/common/foot.html")
</div>
</body>
</html>

<script>
    $(function () {

    });

</script>