<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>哈泥天空农场-农场案例</title>
    #include("website/common/assets-link.html")
    <link rel="stylesheet" href="/assets/css/website/index.css">
    <link rel="stylesheet" href="/assets/css/website/child-page.css">

</head>
<body>
#parse("website/common/top.html")
<div class="container">

    <div class="banner">
        <img src="/assets/image/website/banner2.jpg"/>
    </div>
    <div class="bg-blue">
        <div class="bg-green-2 cwhite w1000 ha ma margin-t-40">
            <div class="ha h60 l-h-60 tx-center font-22 font-w-400">
                城西银泰哈泥天空农场
            </div>
            <div class="h660" style="background: url(/assets/image/website/farmcase/1.jpg);"></div>
        </div>

        <div class="bg-orange cwhite w1000 ha ma margin-t-40 margin-b-40">
            <div class="ha h60 l-h-60 tx-center font-22 font-w-400">
                西溪印象城哈泥天空农场
            </div>
            <div class="h660" style="background: url(/assets/image/website/farmcase/2.jpg);"></div>
        </div>
    </div>
    #parse("website/common/foot.html")
</div>
</body>
</html>

<script>
    $(function () {

    });

</script>