<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>哈泥天空农场-新闻资讯</title>
    #include("website/common/assets-link.html")
    <link rel="stylesheet" href="/assets/css/website/index.css">
    <link rel="stylesheet" href="/assets/css/website/child-page.css">

</head>
<body>
#parse("website/common/top.html")
<div class="container">

    <div class="banner">
        <img src="/assets/image/website/banner-common.jpg"/>
    </div>
    <div class="bg-blue">
        <div class="child-center ha">
            <div class="content">
                <div class="title">农场资讯</div>
                <ul id="news-list">
                </ul>
                <div class="page ha">
                    <ul id="page">
                    </ul>
                </div>
            </div>
        </div>
    </div>
    #parse("website/common/foot.html")
</div>
</body>
</html>

<script>
    $(function () {
        var pageSize = 10;
        getList(1, pageSize);
    });

    function getList(pageNo, pageSize) {
        $.ajax({
            url: '/news/getList',
            type: 'GET',
            dataType: 'json',
            data: {
                currPageNum: pageNo,
                limit: pageSize
            },
            success: function (res) {
                var html = '';
                var curPageNo = res.currPageNum;
                var total = res.total;
                if (res.rows != null) {
                    for (var i = 0; i < res.rows.length; i++) {
                        var vo = res.rows[i];
                        var time = '';
                        if(vo.createTimeStr != null) {
                            time = vo.createTimeStr.substring(0,10);
                        }
                        html += '<li class="bottom-dashed"><div class="fl"><a href="/news/detail/' + vo.id + '">' + vo.title + '</a></div><div class="fr">发布时间: ' + time + '</div></li>';
                    }
                }
                $('#news-list').html(html);
                var pageCount = parseInt(total / pageSize);
                pageCount = total % pageSize == 0 ? pageCount : pageCount + 1;
                var pageHtml = '<li  class="pre_next">上一页</li>';
                if (curPageNo > 1) {
                    pageHtml = '<li  onclick="getList(' + (curPageNo - 1 <= 0 ? 1 : curPageNo - 1) + ', ' + pageSize + ')" class="pre_next">上一页</li>';
                }
                if (pageCount > 5) {
                    for (var i = 1; i <= 5; i++) {
                        if (curPageNo == i) {
                            pageHtml += '<li onclick="getList(' + curPageNo + ', ' + pageSize + ')" class="num active">' + i + '</li>';
                        } else {
                            pageHtml += '<li onclick="getList(' + i + ', ' + pageSize + ')" class="num">' + i + '</li>';
                        }
                    }
                }
                if (pageCount > 5){
                    pageHtml += '<li style="background:none;cursor:default">......</li>';
                }
                pageHtml += '<li id="last-page-num" onclick="getList(' + pageCount + ', ' + pageSize + ')" class="num">' + pageCount + '</li>';
                if (curPageNo < pageCount) {
                    pageHtml += '<li onclick="getList(' + (curPageNo + 1 > pageCount ? pageCount : curPageNo + 1) + ', ' + pageSize + ')" class="pre_next">下一页</li>'
                }else{
                    pageHtml += '<li class="pre_next">下一页</li>'
                }
                $('#page').html(pageHtml);
                if (curPageNo == pageCount) {
                    $('#last-page-num').addClass('active');
                }
            }
        });
    }
</script>